// Color variables

$color-black-main: #1C1A1F;
$color-black-secondary : #29272b;
$color-white: #fff;
$color-primary: #008080;

// Fonts

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$default-font-size: 1.5rem;

// FontAwesome path
$fa-font-path: "../webfonts";


// GRID

$grid-width: 117rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-tiny: 4rem;
$gutter-horizontal: 3rem;