.activePage {
  display: block !important;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.open {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #29272b;
}


.alert-success {
  background-color: rgba($color-primary, .85);
  padding: 1rem 3rem;
  border: none;
  color: inherit;
}


.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.flex {
  display: flex !important;
  &__centered {
    justify-content: center;
    align-items: center;
  }
}


.hidden {position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}