@media only screen and (min-width: 500px) {
  .panel {
    .landingpage {
      #text-panel {
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        font-size: 45px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .panel {
    .landingpage {
      #text-panel {

        width: 70%;

      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .panel {
    .landingpage {
      #text-panel {

        width: 50%;
        font-size: 55px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .panel {
    .landingpage {
      #text-panel {

        width: 40%;
        font-size: 65px;
      }
    }
  }
}



