.service-display {
  font-size: 1.45rem;
  margin-bottom: 4rem;
  position: relative;
  @include screen('min992') {
    margin-bottom: 10rem;
  }
  &__icon {
    cursor: pointer;
    float: left;
    width: 11rem;
    height: 11rem;
    margin-right: 3rem;
    box-sizing: content-box;
    border: 1px solid $color-primary;
    transition: transform .3s;
    background-color: $color-black-main;
    z-index: 9999;
    @include screen('min992') {
      width: 12rem;
      height: 12rem;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-black-secondary;
      transform: rotate(45deg);
    }

    i {
      backface-visibility: hidden;
      font-size: 3.2rem;
      transition: all .3s;
    }

    &:hover i {
      color: $color-primary;
      transform: rotate(-45deg);
    }

  }

  &__desc {

    &--title {
      margin-bottom: 1rem;
      font-size: 1.7rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    &--info {
      font-weight: 300;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -100px;
    width: 1px;
    left: 5.5rem;
    height: 100px;
    background-color: #fff;
    z-index: -1;
    @include screen('min992') {
      left: 6rem;
    }
  }
  &.bottom {
    margin: 0;
  }

  &.bottom::after {
    content: none;
  }
}